<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esto va arriba</title>
</head>
<body>

    <h1>Esto es muy grande</h1>
    <h2>Esto es un poco más pequeño</h2>
    <h6>Esto es muy pequeño</h6>



    <div style="width:340px; position:relative; margin:0 auto 0 auto; text-align: center; border-image: initial;">
        <img src="https://www.24horas.cl/incoming/zorritojpg-1963116/ALTERNATES/w700/zorrito.JPG" style="width:340px"><br>
        Bienvenido
    </div>
    <br>

    <br><a href="{% url 'formulario' %}">Ir al formulario</a>

</body>
</html>